  .content-container {
      padding: 0;
  }

  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
  }

  table {
      width: 100%;
  }